[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyecharts = "*"
snapshot-selenium = "*"
flask = "*"
flask-bootstrap = "*"
flask-wtf = "*"
wtforms = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
