<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask & PyEcharts Demo</title>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://assets.pyecharts.org/assets/echarts.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://assets.pyecharts.org/assets/echarts-liquidfill.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/modern-css-reset@1.4.0/dist/reset.min.css"
    />
    <link rel="stylesheet" href="/templates/led.css" />
    <link rel="stylesheet" href="/templates/fan.css" />
  </head>
  <body>
    <h1>IIOT Final Project Group03</h1>
    <input
      type="checkbox"
      id="lightToggle"
      name="light_switch"
      class="lightToggle--checkbox"
    />
    <label for="lightToggle" class="lightToggle--label">
      <span class="lightToggle--label-background"></span>
    </label>
    <div class="fan">
      <input id="fanSwitch" type="checkbox" name="fan_switch"></input>
      <div class="head">
        <div class="blades">
          <div class="blade"></div>
          <div class="blade"></div>
          <div class="blade"></div>
        </div>
        <div class="cover"></div>
        <div class="center"></div>
      </div>
      <div class="support"></div>
      <div class="base"></div>
      <label for="fanSwitch" class="fanSwitch"></label>
    </div>
    <div class="background"></div>
    <div
      id="barChart"
      style="width: 600px; height: 500px; border-style: dashed; float: left"
    ></div>
    <div
      id="humility"
      style="width: 500px; height: 500px; border-style: dashed; float: left"
    ></div>
    <script>
      var barChart = echarts.init(
        document.getElementById("barChart"),
        "wonderland",
        {
          renderer: "canvas",
        }
      );
      var humility = echarts.init(document.getElementById("humility"), "roma", {
        renderer: "canvas",
      });

      function fetchPyecharts(component, route) {
        $.ajax({
          type: "GET",
          url: `./${route}`,
          dataType: "json",
          success: function (result) {
            component.setOption(result);
          },
        });
      }

      function fetchController(route) {
        $.ajax({
          type: "GET",
          url: `./${route}`,
          dataType: "json",
          success: function (result) {
            console.log(result)
            $.each(result, function(key, value) {
              $(`input[name="${key}"]`).prop("checked", value);
            }); 
          },
        });
      }

      function receive_controller(checkboxID, parameterName) {
        $(`#${checkboxID}`).click(function () {
          const checked = $(this).prop("checked");
          let fetchURL = new URL("http://140.118.120.52:8000/controller-receive");
          const searchParams = new URLSearchParams([[`${parameterName}` , `${checked}`]]);
          fetchURL.search = searchParams;
          fetch(fetchURL.href).then();
        });
      }

      $(function () {
        receive_controller("lightToggle", "light_switch");
        receive_controller("fanSwitch", "fan_switch");
      });

      function chartUpdate() {
        fetchPyecharts(barChart, "barChart");
        fetchPyecharts(humility, "humility");
        fetchController("controller-trans");
      }

      $(function () {
        chartUpdate();
        setInterval(chartUpdate, 2000);
      });
    </script>
  </body>
</html>
