<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IIoT Final Project Group03</title>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://assets.pyecharts.org/assets/echarts.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://assets.pyecharts.org/assets/echarts-liquidfill.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/modern-css-reset@1.4.0/dist/reset.min.css"
    />
    <link rel="stylesheet" href="templates/led.css" />
    <link rel="stylesheet" href="templates/fan.css" />
    <link rel="stylesheet" href="templates/sun.css" />
  </head>
  <body>
    <h1>IIOT Final Project Group03</h1>
    <input
      type="checkbox"
      id="lightToggle"
      name="indoor_led"
      class="lightToggle--checkbox"
    />
    <label for="lightToggle" class="lightToggle--label">
      <span class="lightToggle--label-background"></span>
    </label>
    <section class="c-sun" style="width: 100px; height: 100px; float: right; right: 50px; top:-75px" >
      <div class="c-sun__circle">
        <p id="illuminate" style="font-size:30px; line-height: 100px; text-align:center;"></p>
      </div>
      <div class="c-sun__arrow"></div>
      <div class="c-sun__arrow"></div>
      <div class="c-sun__arrow"></div>
      <div class="c-sun__arrow"></div>
      <div class="c-sun__arrow"></div>
      <div class="c-sun__arrow"></div>
      <div class="c-sun__arrow"></div>
      <div class="c-sun__arrow"></div>
      <div class="c-sun__arrow"></div>
      <div class="c-sun__arrow"></div>
    </section>
    <div class="fan">
      <input id="fanSwitch" type="checkbox" name="fan"></input>
      <div class="head">
        <div class="blades">
          <div class="blade"></div>
          <div class="blade"></div>
          <div class="blade"></div>
        </div>
        <div class="cover"></div>
        <div class="center"></div>
      </div>
      <div class="support"></div>
      <div class="base"></div>
      <label for="fanSwitch" class="fanSwitch"></label>
    </div>
    <div class="background"></div>
    <div style="width: 400px; height: 400px; border-style: dashed; float: left; margin: auto; position: relative;" >
      <img src="templates/images/temp.png" alt=""></img>
      <font class="divtempnum" style="position: absolute; font-size:30px; right:0px; bottom: 0px;">℃</font>
      <span id="temperature" style="position: absolute; font-size:50px; right:30px; bottom: 0px;"></span>
      </div>
    </div>
    <div
      id="humility"
      style="width: 400px; height: 400px; border-style: dashed; float: left"
    ></div>
    <table style="width: 1100px; height: 650px; border-style: dashed;">
      <td>
        <form method="post" style="left: 10px; position: relative">
          <label>Sensor Name:</label><br>
          <!-- <input type="text" name="sensor" style="width:100pt;"><br> -->
          <select name="sensor">
            <option value="temperature">temperature</option>
            <option value="humility">humility</option>
            <option value="illuminate">illuminate</option>
          </select>
          <label>Days:</label><br>
          <select name="days">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
          </select><br>
          <input type="submit" name="send" value="submit">
        </form>
      </td>
      <td>
        <div id="dayLine"style="width: 1000px; height: 600px; float: right">
        <!-- <div  style="float: left; position: absolute;"></div> -->
        </div>
      </td>
    </table>
    <!-- <div
      id="barChart"
      style="width: 600px; height: 500px; border-style: dashed; float: left"
    ></div> -->
    <script>
      // let barChart = echarts.init(
      //   document.getElementById("barChart"),
      //   "wonderland",
      //   {
      //     renderer: "canvas",
      //   }
      // );

      let dayLine = echarts.init(
        document.getElementById("dayLine"),
        "wonderland",
        {
          renderer: "canvas",
        }
      );

      let humility = echarts.init(document.getElementById("humility"), "roma", {
        renderer: "canvas",
      });

      function fetchCssGraph(route) {
        $.ajax({
          type: "GET",
          url: `./${route}`,
          dataType: "json",
          success: function (result) {
            document.getElementById(`${route}`).textContent = `${result}`;
          },
        });
      }

      function fetchPyecharts(component, route) {
        $.ajax({
          type: "GET",
          url: `./${route}`,
          dataType: "json",
          success: function (result) {
            component.setOption(result);
          },
        });
      }

      function fetchController(route) {
        $.ajax({
          type: "GET",
          url: `./${route}`,
          dataType: "json",
          success: function (result) {
            // console.log(result)
            $.each(result, function(key, value) {
              $(`input[name="${key}"]`).prop("checked", JSON.parse(value));
            }); 
          },
        });
      }

      function receive_controller(checkboxID, parameterName) {
        $(`#${checkboxID}`).click(function () {
          const checked = $(this).prop("checked");
          let fetchURL = new URL("http://0.0.0.0:8000/controller-receive"); // put your ip addr. in here!!
          const searchParams = new URLSearchParams([[`${parameterName}` , `${checked}`]]);
          fetchURL.search = searchParams;
          fetch(fetchURL.href).then();
        });
      }

      $(function () {
        receive_controller("lightToggle", "indoor_led");
        receive_controller("fanSwitch", "fan");
      });

      function chartUpdate() {
        // fetchPyecharts(barChart, "barChart");
        fetchPyecharts(humility, "humility");
        fetchController("controller-trans");
        fetchCssGraph("illuminate")
        fetchCssGraph("temperature")
      }

      $(function () {
        fetchPyecharts(dayLine, "dayLine")
        chartUpdate();
        setInterval(chartUpdate, 2000);
      });
    </script>
  </body>
</html>
